@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  min-height: 4.0rem;
  max-height: 3.5rem;
  background-color: #e0f253;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items:center ;

  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0.0rem;

}

.appName {
  padding-left: 25%;
}

.App-link {
  color: #e0f253;;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#logo {
width: 200px;
display: inline-block;
min-height: 4.4rem !important;
padding-top: 10px;
margin-top: -5px;
top:-10px;
}

